.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--color-dashboard-font);
}

.dashboard-container {
  display: flex;
  flex-direction: column;

  margin: 36px 100px 0px;
  width: 100%;
}

.dashboard-container-header {
  padding: 20px 0px;
  /* margin-bottom: 50px; */
  /* border-bottom: 1px solid var(--color-dashboard-border); */
}

.dashboard-container-course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 100%;
  column-gap: 10px;
  row-gap: 2rem;
}

.course {
  display: flex;
  height: 200px;

  /* padding: 10px; */
  /* border-radius: 3px;
  box-shadow: 0px 10px 13px -7px rgb(242, 242, 242),
    0px 50px 0px -30px rgba(0, 0, 0, 0);
  border: 1px solid var(--color-dashboard-border); */

  /* cursor: pointer; */
}

/* .course:hover {
  background-color: #f9f9f8;
} */

.course-create {
  justify-content: center;
  align-items: center;
  color: var(--color-dashboard-font);
}
