.nav {
  display: flex;
  background-color: #373d49;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 4rem;
  color: white;
}

.nav-home {
  cursor: pointer;
  color: white;
}

.nav-menu-upload {
  font-size: 1rem;
  cursor: pointer;
}
