.login {
  margin: 200px auto;
  width: 400px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-dashboard-border);
  margin: 0px 50px;
}

.login-header {
  font-size: 50px;
  width: auto;
  margin-bottom: 20px;
}

.login-alt {
  border-bottom: 1px solid var(--color-dashboard-border);
  padding-bottom: 10px;
}

.login-alt-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-dashboard-border);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 320px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgb(15 15 15 / 5%) 0px 1px 2px;
}

.login-alt-item-logo {
  margin-right: 10px;
  font-size: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 50px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--color-dashboard-border);
}

.login-form-label {
  color: rgba(55, 53, 47, 0.65);
}

/* .login-form-input {
  margin-bottom: 10px;
  height: 25px;
  width: 100%;
  border: 1px solid var(--color-dashboard-border);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
} */

.login-form-input {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  line-height: 26px;
  padding: 4px 10px;
  position: relative;
  border-radius: 4px;
  /* border: 0.5px solid var(--color-dashboard-border); */
  border: none;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  margin-top: 4px;
  margin-bottom: 8px;
}

.login-form-input:focus {
  outline: 1px solid rgba(45, 170, 219, 0.3);
}

.login-form-submit {
  width: 100%;
  height: 40px;
  padding: 4px 10px;
  cursor: pointer;
  color: rgb(0, 157, 255);
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(224, 255, 255);
  border: 1px solid rgb(0, 183, 235);
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}

.signup-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
