/* !main */

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-title {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-border-muted);
}

.editor--title-label {
  padding-bottom: 10px;
  color: #a0aabf;
  font-size: 11px;
}

.editor-container {
  flex: 1;
  display: flex;
  height: var(--height-quiz);
}

.editor-title-name {
  border: none;
}

/* !editor show */

.editor-show {
  /* background-color: var(--color-border-muted); */
  flex: 1;
  padding: 15px;
  width: 50vw;
  overflow: auto;
}

.markdown-body pre {
  padding: 0px !important;
  /* background-color: #f6f8fa !important; */
}
/* .editor-show h1 {
  color: var(--color-header);
  font-size: 2rem;
  padding-bottom: 9.6px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
}

.editor-show h2 {
  color: var(--color-header);
  font-size: 1.5rem;
  padding-bottom: 7.2px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
}

.editor-show code {
  font-size: 85%;

  border-radius: 3px;

}

.editor-show p {
  margin-bottom: 16px;
}

.editor-show ul {
  padding-left: 32px;
  margin-bottom: 16px;
}

.editor-show li:not(:first-child) {
  margin-top: 4px;
}

.editor-show pre {
  margin-bottom: 16px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
} */

/* !editor */

.quiz-editor {
  flex: 1;
  /* max-height: max-content; */
  overflow: auto;
  width: 50vw;
  /* word-wrap: break-word; */

  /* height: var(--height-quiz); */
  /* height: auto; */
  font-size: 14px;
}

.cm-line span {
  font-family: monospace;
}
