/* !main */

.editor {
  height: 100%;
}

.editor-container {
  display: flex;
  height: var(--height-quiz);
}

.editor-title {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-border-muted);
}

.editor--title-label {
  padding-bottom: 10px;
  color: #a0aabf;
  font-size: 11px;
}

.editor-title-name {
  border: none;
}

/* !editor show */

.editor-show {
  background-color: var(--color-border-muted);
  flex: 1;
  padding: 2rem 1rem;

  height: var(--height-quiz);
  width: 50vw;
  overflow: auto;
}

.editor-show h1 {
  color: var(--color-header);
  font-size: 2rem;
  padding-bottom: 9.6px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
}

.editor-show h2 {
  color: var(--color-header);
  font-size: 1.5rem;
  padding-bottom: 7.2px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
}

.editor-show code {
  font-size: 85%;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  background-color: var(--color-comment-background);
}

.editor-show p {
  margin-bottom: 16px;
}

.editor-show ul {
  padding-left: 32px;
  margin-bottom: 16px;
}

.editor-show li:not(:first-child) {
  margin-top: 4px;
}

.editor-show pre {
  margin-bottom: 16px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

/* !editor */

.quiz-editor {
  flex: 1;
  overflow: auto;
  height: var(--height-quiz);
}

.ͼ7 {
  color: var(--color-editor-header);
  text-decoration: none;
  font-weight: normal;
}

.ͼ6 {
  color: var(--color-link);
  text-decoration: none;
}

.ͼc {
  color: var(--color-editor-link);
  text-decoration: underline;
}
