.quiz-editor {
  flex: 1;
  overflow: auto;
  height: var(--height-quiz);
}

.ͼ7 {
  color: var(--color-editor-header);
  text-decoration: none;
  font-weight: normal;
}

.ͼ6 {
  color: var(--color-link);
  text-decoration: none;
}

.ͼc {
  color: var(--color-editor-link);
  text-decoration: underline;
}
