* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: monospace; */

  --color-border-muted: #fafbfc;
  --color-link: #0366d6;
  --color-link-create: rgb(12, 7, 255);
  --color-header: #24292e;
  --color-comment-background: rgba(27, 31, 35, 0.05);

  --color-editor-header: #e45649;
  --color-editor-link: #a626a4;

  --color-dashboard-border: #e1e1e1;
  --color-dashboard-font: rgb(55, 53, 47);
  --height-quiz: calc(100vh - (52px + 88px));
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
